*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

html, body {
  font-family: "Helvetica Neue", serif;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeue-Bold.eot");
  src: url("/fonts/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeue-Bold.woff2") format("woff2"), url("/fonts/HelveticaNeue-Bold.woff") format("woff"), url("/fonts/HelveticaNeue-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeue-Medium.eot");
  src: url("/fonts/HelveticaNeue-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeue-Medium.woff2") format("woff2"), url("/fonts/HelveticaNeue-Medium.woff") format("woff"), url("/fonts/HelveticaNeue-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeue.eot");
  src: url("/fonts/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeue.woff2") format("woff2"), url("/fonts/HelveticaNeue.woff") format("woff"), url("/fonts/HelveticaNeue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
header {
  background-color: #2A2D45;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-left-wrap {
  display: flex;
  align-items: center;
}
header .header-left-wrap .theme-mode-wrap {
  width: 80px;
  border-right: 1px solid #686B83;
  text-align: center;
  padding: 20px 0;
}
header .header-left-wrap .theme-mode-wrap .circle-wrap {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 10px;
  position: relative;
  cursor: pointer;
}
header .header-left-wrap .theme-mode-wrap .circle-wrap .large-circle {
  background: #fff;
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 50%;
}
header .header-left-wrap .theme-mode-wrap .circle-wrap .small-circle {
  width: 20px;
  height: 20px;
  background: #E68D38;
  border: 5px solid #343646;
  position: absolute;
  border-radius: 50%;
  right: 3px;
  top: 6px;
}
header .header-left-wrap .header-main-menu-wrap {
  display: flex;
  align-items: center;
}
header .header-left-wrap .header-main-menu-wrap nav ul {
  display: flex;
  align-items: center;
}
header .header-left-wrap .header-main-menu-wrap nav ul li a {
  font-size: 16px;
  text-decoration: none;
  padding: 38px 10px;
  display: inline-block;
  transition: background-color 0.5s;
  color: #E3E3E3;
}
header .header-left-wrap .header-main-menu-wrap nav ul li a:hover {
  background-color: #3F435A;
}
header .header-left-wrap .header-main-menu-wrap nav ul li a .down-arrow {
  border: solid #E3E3E3;
  border-width: 0 1.5px 1.5px 0;
  display: inline-block;
  padding: 3.5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  display: inline-block;
  position: relative;
  top: -2px;
  margin-left: 6px;
}
header .header-left-wrap .header-main-menu-wrap .network-list {
  margin-left: 20px;
  border-left: 1px solid #E3E3E3;
  padding: 8px 20px 8px;
  color: #E3E3E3;
}
header .header-left-wrap .header-main-menu-wrap .network-list .network-text {
  display: inline-block;
  padding: 7px 12px;
  cursor: pointer;
  transition: background-color 0.5s;
  border-radius: 3px;
}
header .header-left-wrap .header-main-menu-wrap .network-list .network-text .down-arrow {
  border: solid #E3E3E3;
  border-width: 0 1.5px 1.5px 0;
  display: inline-block;
  padding: 3.5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  display: inline-block;
  position: relative;
  top: -2px;
  margin-left: 6px;
}
header .header-left-wrap .header-main-menu-wrap .network-list .network-text:hover {
  background-color: #3F435A;
}
header .header-right-wrap {
  display: flex;
  align-items: center;
}
header .header-right-wrap .header-right-icons-wrap {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
header .header-right-wrap .header-right-icons-wrap li {
  margin: 0 10px;
}
header .header-right-wrap .header-right-icons-wrap li img {
  max-width: 100%;
}
header .header-right-wrap .header-right-icons-wrap li .search-wrap, header .header-right-wrap .header-right-icons-wrap li .notification-wrap, header .header-right-wrap .header-right-icons-wrap li .settings-wrap {
  cursor: pointer;
}
header .header-right-wrap .add-patient-wrap {
  background-color: #E68D38;
  display: inline-block;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  margin-right: 15px;
  cursor: pointer;
}
header .header-right-wrap .add-patient-wrap .add-patient-txt {
  padding: 10px 64px 10px 20px;
  display: inline-block;
  color: #fff;
  font-size: 12px;
}
header .header-right-wrap .add-patient-wrap .add-patient-down-btn {
  background-color: #fff;
  display: inline-block;
  width: 44px;
  height: 100%;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  text-align: center;
  line-height: 25px;
}
header .header-right-wrap .add-patient-wrap .add-patient-down-btn::after {
  content: "";
  border: solid #2A2D45;
  border-width: 0 1.5px 1.5px 0;
  display: inline-block;
  padding: 3.5px;
  transform: rotate(45deg);
}
header .header-right-wrap .profile-wrap {
  margin-right: 20px;
  cursor: pointer;
}
header .header-right-wrap .profile-wrap .profile-top {
  display: inline-block;
}
header .header-right-wrap .profile-wrap .profile-top .profile-round-wrap {
  background: #ccc;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 7px;
}
header .header-right-wrap .soul-care-wrap {
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-left: 1px solid #ccc;
  cursor: pointer;
}
header .header-right-wrap .soul-care-wrap .soul-care-txt {
  color: #fff;
  padding: 0 10px;
}/*# sourceMappingURL=style.css.map */