$white:#fff;
$black:#000;
$dark-gray:#2A2D45;
$light-gray:#3F435A;
$light-gray-1:#E3E3E3;
$orange:#E68D38;
$light-border-gray:#686B83;


.dark-theme{
    $white:#000;
    $black:#fff;
    $dark-gray:#646ebe;
    $light-gray:#646ebe;
    $light-gray-1:#474747;
    $orange:#522700;
    $light-border-gray:#0f143a;
}


$primary-font:'Helvetica Neue',serif;

@mixin down-arrow {
    border: solid #E3E3E3;
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    padding: 3.5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    display: inline-block;
    position: relative;
    top: -2px;
    margin-left: 6px;
}